.sectionTitle {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--primary)
}

.selectBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0 4rem;
    margin-top: 2rem;
}

.buttonCustom {
    font-weight: bolder;
}


.projectContainer {
    padding: 4rem;

}

.projectCard {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.imgBadgeContainer {
    flex: 0 0 auto;
    width: 45%;
}

.projectImg {
    width: 100%;
    border: 0.25rem solid var(--primary);
    border-radius: 0.25rem;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.75rem;
    width: 100%;
}

.projectTitle {}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    font-size: larger;
}

.statusBtns {
    display: flex;
    justify-content: end;
    margin-top: auto;

}

.statusTag {
    font-weight: bolder;
    color: var(--primary);
    font-size: 1.5rem;
    text-decoration: none;

}

/* GitHub calendar */

.githubCalendarContainer {
    display: flex;
    justify-content: center;
    margin: 0;
}

.githubCalendarWrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: var(--background);
    background-image: url("/noise.svg");
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    width: fit-content
}

.contributionsTitle {
    display: flex;
    align-self: flex-start;
    margin-bottom: 1.5rem;
}

.githubCalendarWrapper footer {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .selectBtnsWrapper {
        display: flex;
        justify-content: center;
    }

    .selectBtns {
        flex-direction: column;
        align-items: stretch;
        padding: 1rem;
    }

    .selectBtns button {
        width: 100%;
    }
}