.projectsSection {
  width: 100vw;
  background-color: var(--offset);
}

.selectBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .selectBtns {
    display: flex;
    flex-direction: column;
  }
}

.buttonCustom {
  color: var(--text);
  font-weight: bolder;
}

.title {
  color: var(--text);
}

.projectCardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.projectBgContainer {
  width: 90%;
  height: 66%;
  border-radius: 0.25rem;
  margin-bottom: 4rem;
}

.cardInner {
  display: flex;
  padding: 2rem;
  color: var(--text);
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
}

.description {
  font-style: italic;
}

.linkBtns {
  display: flex;
  gap: 1rem;
}

@media (max-width: 480px) {
  .linkBtns {
    display: flex;
    flex-direction: column;
  }
}

.projectImgContainer {
  display: flex;
  justify-content: center;
}

.projectImg {
  width: 95%;
  border-radius: 0.25rem;
  box-shadow: 0.7rem 0.7rem var(--text);
}
