.projectsContainer {
  width: 100vw;
  height: auto;
  background-color: var(--background);
}

.headerContainer {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.header {
  color: var(--text-primary);
}

/* .cardGridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
} */

.cardGrid {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: 1fr;
  padding: 0 4rem 4rem 4rem;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .cardGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 2.5rem 0;

  }
}