.heroContainer {
  /* width: 100vw; */
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.profileImage {
  width: 15rem;
  height: 15rem;
  border-radius: 15%;
  object-fit: cover;
  border: 6px solid var(--text-primary);
}

.profileImage:hover {
  border: 6px solid var(--primary);
}

.introContainer {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  padding: 2rem;
  color: var(--text-primary);
  line-height: 1.8;
}

.title {
  text-align: center;
}

.heroLinks {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--primary);
  color: var(--primary);
  font-weight: 800;
}

.heroLinks:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--secondary);
  color: var(--secondary);
  font-weight: 800;
}

/* .heroSpan {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: var(--primary);
  font-weight: 600;
} */

.heroSpan {
  color: var(--text-secondary);
  background-color: var(--primary);
  font-weight: 600;
  padding: 0 0.25rem 0 0.25rem;
}

@media (max-width: 480px) {
  .introContainer {
    text-align: center;
    padding: 1.5rem;
  }
}
