.heroContainer {
  height: auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.profileImage {
  width: 15rem;
  height: 15rem;
  border-radius: 15%;
  object-fit: cover;
  border: 6px solid var(--text-primary);
}

.profileImage:hover {
  border: 6px solid var(--primary);
}

.introContainer {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  padding: 2rem;
  color: var(--text-primary);
  line-height: 1.8;
}

.title {
  text-align: center;
}

.content {
  font-size: larger;
}

.heroSpan {
  color: var(--text-secondary);
  background-color: var(--secondary);
  padding: 0.25rem;
  font-weight: 500;
}
