.heroContainer {
  /* width: 100vw; */
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projectsContainer {
  /* width: 100vw; */
  height: auto;
  background-color: var(--background-dark);
}

.skillsContainer {
  /* width: 100vw; */
  display: flex;
  align-items: center;
}

.servicesContainer {
  height: auto;
}
