.singleProjectPage {
  padding: 4rem;
}

.mainInfoSection {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
}

.roleContainer {
  margin-top: 2rem;
}

.mainImgContainer {
  margin-top: 2rem;
}

.mainImg {
  max-width: 100%;
  height: auto;
}

.featureImgContainer {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-bottom: 4rem;
}

.featureImg {
  max-width: 45vw;
  height: 37rem;
  object-fit: contain;
  margin-top: 2rem;
}
