.singleProjectPage {
  padding: 2rem;
}

.mainInfoContainer {
  margin-top: 8rem;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
}

.roleContainer {
  margin-top: 2rem;
}

.mainImgContainer {
  margin-top: 2rem;
}

.mainImg {
  max-width: 100%;
  height: auto;
}
