.singleProjectPage {
  padding: 4rem;
  color: var(--text);
}

.mainInfoSection {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
}

.roleContainer {
  margin-top: 2rem;
}

.roleHeader {
}

.mainImgContainer {
  margin-top: 2rem;
}

.mainImg {
  max-width: 100%;
  height: auto;
  border: 0.25rem solid var(--text);
}

.featureImgContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.featureImg {
  width: calc(50% - 1rem);
  object-fit: contain;
  border: 0.25rem solid var(--text);
}

@media (max-width: 900px) {
  .featureImgContainer {
    flex-direction: column;
  }
  .featureImg {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .singleProjectPage {
    padding: 2rem;
  }
}
